Repository wirepas/gateway, pull requests merged in 2019-07, with the labels that each got.

#54 Travis deployment update
  .ci/build-images.sh
  .ci/build.sh
  .ci/fetch-artifacts.sh
  .ci/releases.sh
  .travis.yml
  container/arm/Dockerfile
  container/arm/docker-compose.yml
  container/dev/Dockerfile
  container/dev/docker-compose.yml
  container/docker-entrypoint.sh
  container/x86/Dockerfile
  container/x86/docker-compose.yml
Labels: PyPi, docker

#57 Package metadata
  python_transport/Pipfile
  python_transport/setup.py
  python_transport/wirepas_gateway/__about__.py
  python_transport/wirepas_gateway/__init__.py
Labels: PyPi, cleanup, transport

#55 ReadTheDocs integration
  .readthedocs.yml
  python_transport/docs/requirements.txt
  python_transport/docs/source/README.md
  python_transport/docs/source/conf.py
  python_transport/docs/source/index.rst
  python_transport/docs/source/modules.rst
  python_transport/utils/generate_sphinx_docs.sh
  python_transport/utils/generate_wheel.sh
  python_transport/wirepas_gateway/__init__.py
Labels: documentation

#64 Docker-entrypoint: Template and exec call
  container/docker-entrypoint.sh
  container/transport.template
Labels: docker

#66 Update wirepas-messaging version to 1.2.0rc2
  python_transport/requirements.txt
Labels: PyPi, transport

#63 Update readme
  README.md
  img/wm-gateway-overview.png
  img/wm-gateway-overview.svg
Labels: documentation

#60 Single Dockerfile for multi-arch builds
  .ci/build-images.sh
  .gitignore
  README.md
  container/common/docker-entrypoint.sh
  container/common/generate_settings.sh
  container/common/wm_transport_service.template
  container/dev/Dockerfile
  container/dev/docker-compose.yml
  container/docs/Dockerfile
  container/docs/hooks/push
  container/stable/Dockerfile
  container/stable/arm/docker-compose.yml
  container/stable/x86/docker-compose.yml
  container/x86/Dockerfile
  img/wm-gateway-overview.png
  img/wm-gateway-overview.svg
  python_transport/requirements.txt
Labels: docker

#81 Blackify source
  .ci/style-check.sh
  .travis.yml
  python_transport/wirepas_gateway/protocol/mqtt_wrapper.py
  python_transport/wirepas_gateway/transport_service.py
  python_transport/wirepas_gateway/utils/argument_tools.py
Labels: style

#80 Update transport env
  python_transport/wirepas_gateway/transport_service.py
  python_transport/wirepas_gateway/utils/log_tools.py
Labels: cleanup, transport

#84 Docker-builds: metadata fix and template updates
  .ci/build-images.sh
  .ci/test-template-generation.sh
  .dockerignore
  .gitignore
  .travis.yml
  container/common/wm_transport_service.template
  container/dev/Dockerfile
  container/dev/docker-compose.yml
  container/stable/Dockerfile
  container/stable/arm/docker-compose.yml
  container/stable/x86/docker-compose.yml
Labels: docker

#83 Version: export the version of transport (#82)
  python_transport/wirepas_gateway/transport_service.py
  python_transport/wirepas_gateway/utils/argument_tools.py
Labels: transport

#78 Update readme
  README.md
  python_transport/README.md
  sink_service/assigning_symlink_to_sinks.md
Labels: documentation

#89 Update license header
  .ci/build-images.sh
  .ci/fetch-artifacts.sh
  .ci/install-devtools.sh
  .ci/install-repo.sh
  .ci/releases.sh
  LICENSE
  README.md
  container/common/docker-entrypoint.sh
  container/common/generate_settings.sh
  container/dev/docker-compose.yml
  container/stable/arm/docker-compose.yml
  container/stable/x86/docker-compose.yml
  python_transport/LICENSE
  python_transport/docs/make.bat
  python_transport/generate_package.sh
  python_transport/requirements.txt
  python_transport/setup.py
  python_transport/utils/generate_sphinx_docs.sh
  python_transport/wirepas_gateway/__about__.py
  python_transport/wirepas_gateway/__init__.py
  python_transport/wirepas_gateway/__main__.py
  python_transport/wirepas_gateway/dbus/__init__.py
  python_transport/wirepas_gateway/dbus/c-extension/dbus_c.c
  python_transport/wirepas_gateway/dbus/dbus_client.py
  python_transport/wirepas_gateway/dbus/return_code.py
  python_transport/wirepas_gateway/dbus/sink_manager.py
  python_transport/wirepas_gateway/dbus_print_client.py
  python_transport/wirepas_gateway/protocol/mqtt_wrapper.py
  python_transport/wirepas_gateway/protocol/topic_helper.py
  python_transport/wirepas_gateway/transport_service.py
  python_transport/wirepas_gateway/utils/__init__.py
  python_transport/wirepas_gateway/utils/argument_tools.py
  python_transport/wirepas_gateway/utils/log_tools.py
  python_transport/wirepas_gateway/utils/serialization_tools.py
  sink_service/source/config.c
  sink_service/source/config.h
  sink_service/source/config_macros.h
  sink_service/source/data.c
  sink_service/source/data.h
  sink_service/source/main.c
  sink_service/source/otap.c
  sink_service/source/otap.h
Labels: cleanup

#88 Deploy to dockerhub from travis
  .ci/deploy-docker.sh
  .ci/releases.sh
  .travis.yml
Labels: docker

#91 Release candidate 2 for v1.2.0
  python_transport/wirepas_gateway/__about__.py
Labels: transport

#94 Fix transport version: parser was not receiving the version
  python_transport/wirepas_gateway/transport_service.py
Labels: transport

#92 Push docker builds on tags
  .travis.yml
Labels: docker

#95 Update logging
  python_transport/wirepas_gateway/dbus_print_client.py
  python_transport/wirepas_gateway/transport_service.py
  python_transport/wirepas_gateway/utils/log_tools.py
Labels: transport

#93 Clarify requirements of running transport service inside a virtualenv
  .ci/build-images.sh
  .gitignore
  README.md
  container/stable/Dockerfile
  container/stable/arm/docker-compose.yml
  container/stable/x86/docker-compose.yml
  python_transport/README.md
Labels: transport

#101 Fix most of pylint warnings
  python_transport/wirepas_gateway/__init__.py
  python_transport/wirepas_gateway/dbus/dbus_client.py
  python_transport/wirepas_gateway/dbus/return_code.py
  python_transport/wirepas_gateway/dbus/sink_manager.py
  python_transport/wirepas_gateway/dbus_print_client.py
  python_transport/wirepas_gateway/protocol/mqtt_wrapper.py
  python_transport/wirepas_gateway/protocol/topic_helper.py
  python_transport/wirepas_gateway/transport_service.py
  python_transport/wirepas_gateway/utils/__init__.py
  python_transport/wirepas_gateway/utils/argument_tools.py
  python_transport/wirepas_gateway/utils/log_tools.py
Labels: cleanup, transport

#100 Fix logging level
  python_transport/wirepas_gateway/utils/log_tools.py
Labels: bug, transport

#102 Fix print service
  python_transport/wirepas_gateway/dbus_print_client.py
Labels: utils

#104 Fix transport template
  container/common/docker-entrypoint.sh
  container/common/wm_transport_service.template
Labels: docker, transport

#105 Update requirements.txt
  python_transport/requirements.txt
Labels: PyPi, transport

#106 Update transport service version
  python_transport/wirepas_gateway/__about__.py
Labels: PyPi, transport

#107 Manifest file path
  .ci/build-images.sh
  container/stable/arm/docker-compose.yml
  container/stable/x86/docker-compose.yml
Labels: ci

#108 Docker deploy updates
  .ci/deploy-docker.sh
  .ci/fetch-artifacts.sh
Labels: ci, docker
