Repository wirepas/gateway, pull requests merged in 2019-09, with the labels that each got.

#120 Changelog creation in Travis pipeline
  .ci/releases.sh
  .travis.yml
Labels: ci

#124 Dbus print: Fix print trace
  python_transport/wirepas_gateway/dbus_print_client.py
Labels: dbus, examples

#121 Delete extwirepas.pem
  container/dev/Dockerfile
  container/stable/Dockerfile
  python_transport/setup.py
  python_transport/tests/illformatted_mqtt_data.sh
  python_transport/wirepas_gateway/wirepas_certs/extwirepas.pem
Labels: cleanup, transport

#125 Logger's format string
  python_transport/wirepas_gateway/dbus/dbus_client.py
Labels: transport

#117 Avoid MQTT reconnect() loop
  python_transport/wirepas_gateway/protocol/mqtt_wrapper.py
Labels: transport

#126 update README
  README.md
Labels: documentation

#129 Add optional parameter for max poll fail duration
  sink_service/source/main.c
Labels: sink service
