Repository wirepas/gateway, pull requests merged in 2019-11, with the labels that each got.

#133 Environment arguments
  python_transport/wirepas_gateway/utils/argument_tools.py
Labels: interface/transport

#146 Fix Gateway Result Code when request exceeds hop limits
  python_transport/wirepas_gateway/transport_service.py
Labels: bug

#144 Fix parsing of cert_reqs and tls_version settings
  python_transport/wirepas_gateway/protocol/mqtt_wrapper.py
  python_transport/wirepas_gateway/utils/argument_tools.py
Labels: interface/transport

#132 Update main Readme
  README.md
Labels: documentation

#142 Sink service environment handling
  .ci/build-images.sh
  .ci/requirements.sh
  .ci/service-tests.sh
  .travis.yml
  sink_service/source/main.c
  tests/scripts/test_sink_env_params.sh
  tests/services/sink-service.yml
  tests/services/transport-service.yml
Labels: interface/sink

#150 Fix: fix format from c extension to python
  python_transport/wirepas_gateway/dbus/c-extension/dbus_c.c
Labels: bug, interface/transport
